.profile__name {
  margin: 0;
  max-width: 500px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__name {
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .profile__name {
    max-width: 235px;
    padding-top: 26px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
