.profile {
  margin: 0;
  padding-top: 40px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 42px;
    flex-direction: column;
  }
}
